package ${packageName}.entity;

import com.baomidou.mybatisplus.annotation.TableName;
import lombok.Data;
import com.baomidou.mybatisplus.annotation.TableId;
#parse("/vms/common/set.vm")
#parse("/vms/common/macro.vm")
#entityImport()
/**
 * @author jinyongbin
 * @since  $date.get('yyyy-MM-dd HH:mm:ss')
 */

@Data
@TableName("${tableName}")
public class ${firstUpTableName}Entity {
    #foreach ($item in $tableInfo)
        #getTablePrimaryKey($item)
        #getSqlToJavaType($item)
    #end
}

