#parse("/vms/common/set.vm")
package ${packageName}.service.impl;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.entity.${firstUpTableName}Entity;
import ${packageName}.convert.${firstUpTableName}Convert;
import ${packageName}.mapper.${firstUpTableName}Mapper;
import ${packageName}.service.${firstUpTableName}Service;
import ${packageName}.entity.request.page.${firstUpTableName}PageRequestEntity;
import ${packageName}.entity.common.R;
import ${packageName}.entity.request.${firstUpTableName}RequestEntity;
import ${packageName}.entity.response.${firstUpTableName}ResponseEntity;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Service;
import org.springframework.util.CollectionUtils;

import java.util.List;
import java.util.Objects;
import java.util.stream.Collectors;

/**
 * @author jinyongbin
 * @since  $date.get('yyyy-MM-dd HH:mm:ss')
 */

@Service("${firstLoTableName}Service")
@RequiredArgsConstructor
public class ${firstUpTableName}ServiceImpl implements ${firstUpTableName}Service {


    private final ${firstUpTableName}Mapper ${firstLoTableName}Mapper;

    @Override
    public R<List<${firstUpTableName}ResponseEntity>> selectByCondition(${firstUpTableName}RequestEntity request) throws NullPointerException {
        List<${firstUpTableName}Entity> ${firstLoTableName} = ${firstLoTableName}Mapper.selectByCondition(${firstUpTableName}Convert.INSTANCE.reqToDo(request));
        if (CollectionUtils.isEmpty(${firstLoTableName})) {
            return R.error("NO DATA");
        }
        return R.ok(${firstUpTableName}Convert.INSTANCE.doListToRespList(${firstLoTableName}));
    }

    @Override
    public R<${firstUpTableName}ResponseEntity> selectById(Long id) throws NullPointerException {
        ${firstUpTableName}Entity ${firstLoTableName}Entity = ${firstLoTableName}Mapper.selectById(id);
        if (Objects.nonNull(${firstLoTableName}Entity)) {
            return R.ok( ${firstUpTableName}Convert.INSTANCE.doToResp(${firstLoTableName}Entity));
        }
        return R.error("NO DATA");
    }

    @Override
    public R<Page<${firstUpTableName}ResponseEntity>> selectByPage(${firstUpTableName}PageRequestEntity request) throws NullPointerException {
        ${firstUpTableName}Entity ${firstLoTableName} = ${firstUpTableName}Convert.INSTANCE.reqToDo(request);
        Page<${firstUpTableName}Entity> page = new Page<>(request.getPage(), request.getSize(), ${firstLoTableName}Mapper.selectCount(new QueryWrapper<>()));
        Page<${firstUpTableName}Entity> doPage = ${firstLoTableName}Mapper.selectByConditionPage(${firstLoTableName}, page);
        if (CollectionUtils.isEmpty(doPage.getRecords())) {
            throw new NullPointerException("NO DATA");
        }
        return R.ok(${firstUpTableName}Convert.INSTANCE.doPageToRespPage(doPage));
    }

    @Override
    public R<Integer> updateByCondition(${firstUpTableName}RequestEntity request) {
        return R.ok(${firstLoTableName}Mapper.updateById(${firstUpTableName}Convert.INSTANCE.reqToDo(request)));
    }

    @Override
    public R<Integer> updateBatch(List<${firstUpTableName}RequestEntity> request) {
        return R.ok(${firstLoTableName}Mapper.updateBatch(${firstUpTableName}Convert.INSTANCE.reqListToDoList(request)));
    }

    @Override
    public R<Integer> deleteById(${firstUpTableName}RequestEntity request) {
        return R.ok(${firstLoTableName}Mapper.deleteById(request.getId()));
    }

    @Override
    public R<Integer> deleteBatch(List<${firstUpTableName}RequestEntity> request) {
        try {
            List<Long> ids = request.stream().map(${firstUpTableName}RequestEntity::getId).collect(Collectors.toList());
            return R.ok(${firstLoTableName}Mapper.deleteBatchIds(ids));
        } catch (Exception e) {
            return R.error("delete error");
        }
    }

    @Override
    public R<Integer> insert(${firstUpTableName}RequestEntity request) {
        return R.ok(${firstLoTableName}Mapper.insertByCondition(${firstUpTableName}Convert.INSTANCE.reqToDo(request)));
    }

    @Override
    public R<Integer> insertBatch(List<${firstUpTableName}RequestEntity> request) {
        List<${firstUpTableName}Entity> ${firstLoTableName}Entities = ${firstUpTableName}Convert.INSTANCE.reqListToDoList(request);
        int reduce = ${firstLoTableName}Entities.stream().mapToInt(${firstLoTableName}Mapper::insertByCondition).reduce(0, Integer::sum);
        return R.ok(reduce);
    }
}
