#parse("/vms/common/set.vm")
package ${packageName}.service;

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import ${packageName}.entity.request.page.${firstUpTableName}PageRequestEntity;
import ${packageName}.entity.response.${firstUpTableName}ResponseEntity;
import ${packageName}.entity.common.R;
import ${packageName}.entity.request.${firstUpTableName}RequestEntity;

import java.util.List;

/**
 * @author jinyongbin
 * @since  $date.get('yyyy-MM-dd HH:mm:ss')
 */

public interface ${firstUpTableName}Service {
    R<${firstUpTableName}ResponseEntity> selectByCondition(${firstUpTableName}RequestEntity request) throws NullPointerException;

    R<${firstUpTableName}ResponseEntity> selectById(Long request) throws NullPointerException;

    R<Page<${firstUpTableName}ResponseEntity>> selectByPage(${firstUpTableName}PageRequestEntity request) throws NullPointerException;

    R<Integer> updateByCondition(${firstUpTableName}RequestEntity request);

    R<Integer>  updateBatch(List<${firstUpTableName}RequestEntity> request);

    R<Integer>  deleteByCondition(${firstUpTableName}RequestEntity request);

    R<Integer>  deleteById(${firstUpTableName}RequestEntity request);

    R<Integer>  deleteBatch(List<${firstUpTableName}RequestEntity> request);

    R<Integer>  insert(${firstUpTableName}RequestEntity request);

    R<Integer>  insertBatch(List<${firstUpTableName}RequestEntity> request);
}

