#parse("/vms/common/set.vm")
package ${packageName}.service.impl;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${packageName}.entity.${firstUpTableName}Entity;
import ${packageName}.convert.${firstUpTableName}Convert;
import ${packageName}.mapper.${firstUpTableName}Mapper;
import ${packageName}.service.${firstUpTableName}Service;
import ${packageName}.entity.request.${firstUpTableName}PageRequest;
import ${packageName}.entity.ResponseEntity.R;
import ${packageName}.entity.request.base.${firstUpTableName}Request;
import ${packageName}.entity.response.${firstUpTableName}Response;
import lombok.RequiredArgsConstructor;
import org.mybatis.spring.SqlSessionTemplate;
import org.springframework.stereotype.Service;
import org.springframework.util.CollectionUtils;

import java.util.Collections;
import java.util.List;
import java.util.Objects;
import java.util.stream.Collectors;

/**
 * @author jinyongbin
 * @since  $date.get('yyyy-MM-dd HH:mm:ss')
 */

@Service("${firstLoTableName}Service")
@RequiredArgsConstructor
public class ${firstUpTableName}ServiceImpl implements ${firstUpTableName}Service {

    private final SqlSessionTemplate sqlSessionTemplate;

    @Override
    public R<${firstUpTableName}Response> selectByCondition(${firstUpTableName}Request request) throws NullPointerException {
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        List<${firstUpTableName}> ${firstLoTableName} = mapper.selectByCondition(${firstUpTableName}Convert.INSTANCE.reqToEntity(request));
        ${firstUpTableName} result = ${firstLoTableName}.stream().findFirst().orElseThrow(() -> new NullPointerException('NO DATA'));
        return R.ok(${firstUpTableName}Convert.INSTANCE.doToResp(result));
    }

    @Override
    public R<${firstUpTableName}Response> selectById(Long id) throws NullPointerException {
        ${firstUpTableName}Request ${firstLoTableName}Request = new ${firstUpTableName}Request();
        ${firstLoTableName}Request.setId(id);
        return selectByCondition(${firstLoTableName}Request);
    }

    @Override
    public R<Page<${firstUpTableName}Response>> selectByPage(${firstUpTableName}PageRequest request) throws NullPointerException {
        ${firstUpTableName} ${firstLoTableName} = ${firstUpTableName}Convert.INSTANCE.reqToEntity(request);
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        Page<${firstUpTableName}> page = new Page<>(request.getPage(), request.getSize(), mapper.selectCount(new QueryWrapper<>()));
        Page<${firstUpTableName}> doPage = mapper.selectByConditionPage(${firstLoTableName}, page);
        if (CollectionUtils.isEmpty(doPage.getRecords())) {
            throw new NullPointerException('NO DATA');
        }
        return R.ok(${firstUpTableName}Convert.INSTANCE.doPageToRespPage(doPage));
    }

    @Override
    public R<Integer> updateByCondition(${firstUpTableName}Request request) {
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        return R.ok(mapper.updateById(${firstUpTableName}Convert.INSTANCE.reqToEntity(request)));
    }

    @Override
    public R<Integer> updateBatch(List<${firstUpTableName}Request> request) {
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        return R.ok(mapper.updateBatch(${firstUpTableName}Convert.INSTANCE.reqListToEntityList(request)));
    }

    @Override
    public R<Integer> deleteByCondition(${firstUpTableName}Request request) {
        if (Objects.nonNull(request.getId())) {
            return deleteById(request);
        }
        return deleteBatch(Collections.singletonList(request));
    }

    @Override
    public R<Integer> deleteById(${firstUpTableName}Request request) {
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        return R.ok(mapper.deleteById(request.getId()));
    }

    @Override
    public R<Integer> deleteBatch(List<${firstUpTableName}Request> request) {
        try {
            List<Long> ids = request.stream().map(${firstUpTableName}Request::getId).collect(Collectors.toList());
            ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
            return R.ok(mapper.deleteBatchIds(ids));
        } catch (Exception e) {
            return R.error("删除异常");
        }
    }

    @Override
    public R<Integer> insert(${firstUpTableName}Request request) {
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        return R.ok(mapper.insert(${firstUpTableName}Convert.INSTANCE.reqToEntity(request)));
    }

    @Override
    public R<Integer> insertBatch(List<${firstUpTableName}Request> request) {
        ${firstUpTableName}Mapper mapper = sqlSessionTemplate.getMapper(${firstUpTableName}Mapper.class);
        return R.ok(mapper.insertBatch(${firstUpTableName}Convert.INSTANCE.reqListToEntityList(request)));
    }
}
